@charset "UTF-8";
@font-face {
  font-family: "Montserrat_400";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat_500";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat_600";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat_700";
  src: url("../fonts/Montserrat-Bold.ttf");
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  min-height: 116px;
  background-color: #fff;
  font-size: 16px;
  /* первый экран */  
}

.section_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 852px;
}

.section_top .first_box_area_left {
  position: relative;
  width: 50%;
  min-height: 852px;
}

.section_top .first_box_area_right {
  width: 50%;
  position: relative;
  min-height: 852px;
}

#navbarNav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item {
  margin-right: 64px;
  color: #10375E !important;
  /* 1 экран элементы слева */
}

.first_alltext_area {
  position: absolute;
  top: 152px;
  left: 119px;
}

.welcome_area {
  font-size: 44px;
  font-family: "Montserrat_500";
  color: #10375E;
}

.article_area p {
  margin: 0;
  color: #10375E;
}

.article_area {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 20px;
  font-family: "Montserrat_400";
  line-height: 32px;
  color: #10375E;
}

.article_area_last {
  font-size: 20px;
  font-family: "Montserrat_400";
  line-height: 32px;
  color: #10375E;
}

.btn_first_screen {
  color: #fff !important;
  background-color: #FEA02F !important;
  border-color: #FEA02F !important;
  width: 285px;
  height: 52px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 32px;
}

.ell-1 {
  position: absolute;
  top: 73px;
  left: 0;
}

.ell-2 {
  position: absolute;
  top: 11px;
  left: 0;
}

.circle-2 {
  position: absolute;
  top: 258px;
  /* 1 экран элементы справа */
}

.ell-4 {
  position: absolute;
  top: 328px;
  right: 107px;
}

.ell-3 {
  position: absolute;
  top: 36px;
  right: 0;
}

.circle-1 {
  position: absolute;
  top: 27px;
  right: 168px;
}

.man {
  position: absolute;
  top: 236px;
  right: 186px;
}

.circle-3 {
  position: absolute;
  top: 420px;
  right: 587px;
}

.graphic {
  position: absolute;
  top: 301px;
  right: 97px;
}

.circle-4 {
  position: absolute;
  top: 423px;
  right: 15px;
  /* 2 экран */  
}

.second-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 852px;
  background-color: #E0E2D5;
  position: relative;
  padding-bottom: 90px;
}

.second-screen .second_box_area_left {
  position: relative;
  width: 50%;
  min-height: 852px;
  padding: 50px;
  padding-left: 140px;
  padding-top: 164px;
}

.second-screen .second_box_area_right {
  width: 50%;
  position: relative;
  min-height: 852px;
  padding-right: 140px;
  padding-top: 164px;
}

.second_alltext_area {
  color: #10375E;
}

.second_alltext_area h2 {
  font-size: 44px;
  font-family: "Montserrat_500";
  padding-bottom: 24px;
}
.second_alltext_area p {
  font-size: 20px;
  font-family: "Montserrat_400";
  line-height: 32px;
}

.circle-between {
  position: absolute;
  top: -60px;
  right: 290px;
}

.circle-left {
  position: absolute;
  top: -164px;
  left: 0px;
}

.circle-right {
  position: absolute;
  bottom: -60px;
  right: 0px;
  /* 3 экран  */
}

.third-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 852px;
  position: relative;
  padding-bottom: 150px;
}

.third-screen .third_box_area_left {
  position: relative;
  width: 50%;
  min-height: 852px;
}

.third-screen .third_box_area_right {
  width: 50%;
  position: relative;
  min-height: 852px;
}

/* картинки 3 экрана  */
.scr3-circle_left {
  position: absolute;
  left: 0px;
  top: 181px;
}

.vec-3 {
  position: absolute;
  left: 0px;
  top: 270px;
}

.scr3-circle1 {
  position: absolute;
  right: 38px;
  top: 281px;
}

.scr3-circle2 {
  position: absolute;
  right: 359px;
  top: 566px;
  z-index: 9999;
}

.graph-1 {
  position: absolute;
  right: 197px;
  top: 193px;
}

.graph-2 {
  position: absolute;
  right: 322px;
  top: 439px;
}

.graph-3 {
  position: absolute;
  right: 43px;
  top: 538px;
}

.vec-1 {
  position: absolute;
  right: 0px;
  top: 115px;
}

.vec-2 {
  position: absolute;
  right: 0px;
  top: 231px;
}

.third_alltext_area {
  position: absolute;
  top: 152px;
  left: 119px;
}

.third_alltext_area h2 {
  font-size: 44px;
  font-family: "Montserrat_500";
  padding-bottom: 24px;
}
.third_alltext_area p {
  font-size: 20px;
  font-family: "Montserrat_400";
  line-height: 32px;
}

.third_alltext_area {
  color: #10375E;
  /* 4 экрана  */
}

.fourth-screen {
  background-color: #E0E2D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 852px;
  position: relative;
  padding-bottom: 90px;
}

.fourth-screen .fourth_box_area_left {
  position: relative;
  width: 50%;
  min-height: 852px;
  padding: 20px;
}

.fourth-screen .fourth_box_area_right {
  width: 50%;
  position: relative;
  min-height: 852px;
}

.fourth_alltext_area {
  position: absolute;
  top: 164px;
  right: 127px;
  color: #10375E;
}

.fourth_alltext_area h2 {
  font-size: 44px;
  font-family: "Montserrat_500";
}
.fourth_alltext_area p {
  font-size: 20px;
  line-height: 32px;
  font-family: "Montserrat_400";
  padding-top: 24px;
}

.collage_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 164px;
  left: 125px;
}

.collage_area img {
  border-radius: 50%;
}

.collage_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  font-family: "Montserrat_400";
  color: #10375E;
  padding-bottom: 51px;
}

.collage_line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: "Montserrat_700";
  color: #10375E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collage_line1 p {
  padding-left: 23px;
}

.collage_line2 p {
  padding-right: 23px;
  padding-left: 10px;
}

.collage_line3 p {
  padding-left: 23px;
}

.collage_line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: "Montserrat_700";
  color: #10375E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collage_line3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: "Montserrat_700";
  color: #10375E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* картинки для 4 экрана */
.scr4-vec1 {
  position: absolute;
  left: 41px;
  top: 264px;
}

.scr4-vec2 {
  position: absolute;
  left: 0px;
  top: 382px;
}

.scr4-circle-left {
  position: absolute;
  left: 84px;
  top: 501px;
}

.scr4-betw-1 {
  position: absolute;
  left: 0px;
  top: 686px;
  z-index: 99999;
}

.scr4-circle-right {
  position: absolute;
  right: 0px;
  top: 476px;
}

.scr4-betw-2 {
  position: absolute;
  right: 128px;
  top: 643px;
  z-index: 99999;
  /* 5 экран */
}

.fifth-screen {
  background-color: #05647A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 619px;
  position: relative;
  padding-bottom: 90px;
}

.fifth-screen .fifth_box_area_left {
  position: relative;
  width: 50%;
  min-height: 619px;
  padding: 20px;
}

.fifth-screen .fifth_box_area_right {
  width: 50%;
  position: relative;
  min-height: 619px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fifth-screen .fifth_box_area_right h5 {
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Montserrat_400";
  padding-right: 270px;
  padding-top: 190px;
  margin-bottom: 40px;
}

.slider_text p {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat_400";
  line-height: 19.5px;
  margin-top: 50px;
  padding: 0 145px 0 150px;
}

.slider_text {
  padding: 20px;
}

.fifth_alltext_area {
  position: absolute;
  top: 164px;
  left: 127px;
  color: #fff;
}

.fifth_alltext_area h2 {
  font-size: 44px;
  font-family: "Montserrat_500";
}
.fifth_alltext_area p {
  font-size: 20px;
  line-height: 32px;
  font-family: "Montserrat_400";
  padding-top: 20px;
  /* Слайдер */
}

.my_slider {
  position: relative;
}

.gallery {
  width: 382px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.text_gall_after {
  text-align: center;
  line-height: 200px;
}

.text_gall_after a {
  font-size: 18px;
  font-family: "Montserrat_600";
  color: #fff;
}

.text_gall_after {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0%;
  padding-top: 25px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.text_gall_after:hover {
  opacity: 100%;
  z-index: 9999;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 3%;
}

.gallery-cell {
  width: 100%;
  height: 255px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
  border-radius: 3%;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}

.flickity-prev-next-button.no-svg {
  color: white;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
  /* 6 экран Футер */
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_menu .navbar-nav .nav-link {
  color: #10375E;
  line-height: 19.5px;
  font-size: 16px;
}
.footer_menu .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_title {
  padding: 44px 0;
  color: #10375E;
  font-size: 32px;
  line-height: 39px;
  font-family: "Montserrat_400";
}

.footer_logo {
  padding-bottom: 44px;
}

.footer_copyright {
  color: #10375E6E;
  padding: 26px 0 26px 0;
  line-height: 19.5px;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .section_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 852px;
  }

  .section_top .first_box_area_left {
    position: relative;
    width: 100%;
    min-height: 652px;
  }

  .section_top .first_box_area_right {
    width: 100%;
    position: relative;
  }

  .second-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 852px;
    background-color: #E0E2D5;
    position: relative;
  }

  .second-screen .second_box_area_left {
    position: relative;
    width: 100%;
    min-height: 852px;
    padding: 50px;
    padding-left: 140px;
    padding-top: 164px;
  }

  .second-screen .second_box_area_right {
    width: 100%;
    position: relative;
    min-height: 852px;
    padding-right: 140px;
    padding-top: 164px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px;
    text-align: justify;
  }

  .second-screen .second_box_area_right h2 {
    text-align: center;
  }

  .second_alltext_area {
    padding: 20px;
  }

  .circle-right {
    position: absolute;
    bottom: -60px;
    right: -70px;
  }

  .third-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 852px;
    background-color: #E0E2D5;
    position: relative;
    padding-bottom: 0;
  }

  .third-screen .third_box_area_left {
    position: relative;
    width: 100%;
    min-height: 752px;
  }

  .third-screen .third_box_area_right {
    width: 100%;
    position: relative;
    min-height: 752px;
  }

  .third_alltext_area {
    position: absolute;
    top: 0px;
    left: 45px;
    right: 45px;
    text-align: justify;
  }

  .third_alltext_area h2 {
    text-align: center;
  }
  .third_alltext_area button {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .fourth-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 852px;
    background-color: #E0E2D5;
    position: relative;
  }

  .fourth-screen .fourth_box_area_left {
    position: relative;
    width: 100%;
    min-height: 752px;
  }

  .fourth-screen .fourth_box_area_right {
    width: 100%;
    position: relative;
    min-height: 752px;
  }

  .fourth_alltext_area h2 {
    text-align: center;
  }

  .fourth_alltext_area {
    position: absolute;
    top: 250px;
    left: 45px;
    right: 45px;
    text-align: justify;
  }

  .collage_area {
    position: absolute;
    top: 164px;
    left: 170px;
  }

  .fifth-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 852px;
    position: relative;
  }

  .fifth-screen .fifth_box_area_left {
    position: relative;
    width: 100%;
    min-height: 752px;
  }

  .fifth-screen .fifth_box_area_right {
    width: 100%;
    position: relative;
    min-height: 452px;
  }

  .fifth-screen .fifth_box_area_right h5 {
    padding-right: 0;
    padding-top: 130px;
  }

  .fifth_alltext_area h2 {
    text-align: center;
    padding-top: 50px;
    padding-right: 0;
  }
  .fifth_alltext_area button {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .fifth_alltext_area {
    position: absolute;
    top: 250px;
    left: 45px;
    right: 45px;
    text-align: justify;
  }

  .footer_menu {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .man {
    position: absolute;
    top: 236px;
    right: 186px;
    width: 60%;
  }

  .ell-4 {
    position: absolute;
    top: 328px;
    right: 107px;
    width: 80%;
  }

  .ell-3 {
    position: absolute;
    top: 36px;
    right: 0;
    width: 70%;
  }

  .circle-3 {
    position: absolute;
    top: 420px;
    right: 587px;
    display: none;
  }

  .section_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 900px;
  }

  .article_area_last {
    font-size: 18px;
    font-family: "Montserrat_400";
    line-height: 32px;
    color: #10375E;
  }

  .article_area {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    font-family: "Montserrat_400";
    line-height: 32px;
    color: #10375E;
  }

  .welcome_area h1 {
    font-size: 35px;
  }

  .second-screen .second_box_area_left {
    position: relative;
    width: 50%;
    min-height: 852px;
    padding: 50px;
    padding-left: 50px;
    padding-top: 155px;
  }

  .second-screen .second_box_area_right {
    width: 50%;
    position: relative;
    min-height: 852px;
    padding: 165px 20px 50px 20px;
  }

  .second_alltext_area p {
    font-size: 18px;
    font-family: "Montserrat_400";
    line-height: 32px;
    text-align: justify;
    padding-right: 30px;
  }

  .vec-1 {
    position: absolute;
    right: 0px;
    top: 115px;
    width: 70%;
  }

  .vec-2 {
    position: absolute;
    right: 0px;
    top: 231px;
    width: 80%;
  }

  .third_alltext_area p {
    font-size: 20px;
    font-family: "Montserrat_400";
    line-height: 32px;
    text-align: justify;
  }

  .third-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 1100px;
    position: relative;
  }

  .slider_text p {
    padding: 0 100px 0 100px;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  .scr2_man {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .second-screen .second_box_area_left {
    padding-left: 0;
  }
}
@media (min-width: 375px) and (max-width: 730px) {
  .ell-1 {
    width: 20%;
  }

  .ell-2 {
    width: 20%;
  }

  .man {
    position: absolute;
    top: 236px;
    right: 186px;
    width: 50%;
  }

  .ell-4 {
    position: absolute;
    top: 328px;
    right: 107px;
    width: 20%;
  }

  .ell-3 {
    position: absolute;
    top: 36px;
    right: 0;
    width: 20%;
  }

  .circle-3 {
    position: absolute;
    top: 420px;
    right: 587px;
    display: none;
  }

  .section_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    padding-top: 30px;
  }

  .section_top .first_box_area_left {
    position: relative;
    width: 100%;
    min-height: 580px;
  }

  .section_top .first_box_area_left .circle-2 {
    display: none;
  }

  .section_top .first_box_area_right {
    display: none;
  }

  .first_alltext_area {
    width: 400px;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .first_alltext_area p {
    padding-left: 25px;
    padding-right: 20px;
  }
  .first_alltext_area h1 {
    padding-left: 25px;
    padding-right: 20px;
  }
  .first_alltext_area button {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .article_area_last {
    font-size: 14px;
    font-family: "Montserrat_400";
    color: #10375E;
    line-height: 1.5;
  }

  .article_area {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: "Montserrat_400";
    color: #10375E;
    line-height: 1.5;
  }

  .welcome_area h1 {
    font-size: 24px;
  }

  .second-screen .circle-left {
    display: none;
  }

  .scr2_man {
    width: 100%;
  }

  .second-screen .second_box_area_left {
    position: relative;
    width: 100%;
    min-height: 452px;
    padding: 50px;
  }

  .second-screen .second_box_area_right {
    width: 100%;
    position: relative;
    min-height: 551px;
  }

  .second-screen .second_box_area_left h2 {
    font-size: 20px;
  }

  .second_alltext_area h2 {
    font-size: 26px;
    font-family: "Montserrat_500";
    padding-bottom: 24px;
  }
  .second_alltext_area p {
    font-size: 14px;
    font-family: "Montserrat_400";
    line-height: 1.5;
  }

  .second_alltext_area {
    padding: 0;
  }

  .third_alltext_area h2 {
    font-family: "Montserrat_500";
    padding-bottom: 24px;
    font-size: 26px;
  }
  .third_alltext_area p {
    font-size: 14px;
    font-family: "Montserrat_400";
    line-height: 1.5;
  }

  .third_alltext_area {
    position: absolute;
    top: 0px;
    left: 25px;
    right: 25px;
    text-align: justify;
  }

  .third-screen .third_box_area_right {
    display: none;
  }

  .third-screen {
    min-height: 651px;
  }

  .collage_area {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .collage_title {
    font-size: 26px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .collage_area img {
    width: 150px;
  }

  .collage_line1 p {
    font-size: 16px;
  }

  .collage_line2 p {
    font-size: 16px;
  }

  .collage_line3 p {
    font-size: 16px;
  }

  .fourth_alltext_area h2 {
    font-size: 26px;
  }
  .fourth_alltext_area p {
    font-size: 14px;
    line-height: 1.5;
  }

  .fourth_alltext_area {
    position: absolute;
    top: 150px;
    left: 25px;
    right: 25px;
    text-align: justify;
  }

  .fourth-screen .fourth_box_area_right {
    width: 100%;
    position: relative;
    min-height: 552px;
  }

  .scr4-circle-right {
    position: absolute;
    right: 0px;
    top: 476px;
  }

  .scr4-betw-2 {
    display: none;
  }

  .fifth_alltext_area h2 {
    font-size: 26px;
  }
  .fifth_alltext_area p {
    font-size: 14px;
    line-height: 1.5;
  }

  .fifth_alltext_area {
    position: absolute;
    top: 50px;
    left: 25px;
    right: 25px;
    text-align: justify;
  }

  .fifth-screen .fifth_box_area_left {
    position: relative;
    width: 100%;
    min-height: 452px;
  }

  .slider_text p {
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat_400";
    line-height: 1.5;
    margin-top: 50px;
    padding: 0;
  }

  .gallery {
    width: 250px;
  }

  .gallery-cell {
    height: 200px;
  }

  .footer_title {
    display: none;
  }

  .footer_logo {
    padding-top: 35px;
  }

  .footer_copyright {
    padding-top: 0;
  }
}